{# README for the generated project handed to the end user. #}
{# Vars: project_name, services #}
{# TODO(diego): quickstart (venv, pip install, cdk synth), list generated services, note account-agnostic. #}
